.navBar {
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  color: white;
  width: 100%;
  gap: 8px;
  padding: 8px 8px;
  background-color: rgb(12, 17, 12, 0.99);
  border-bottom: solid 1px var(--border-color);
}

.navBar a {
  color: white;
  text-align: center;
  text-decoration: none;
  transition: 100ms ease-in-out;
  padding: 8px 8px;
  font-size: 17px;
  border-radius: 5px;
  background-color: var(--card-color);
}

.navBar a:hover {
  box-shadow: inset 0 0 10px #000000;
}

.navBar a.active {
  background-color: #04aa6d;
  color: white;
}

.navBar a.visited {
  color: purple;
}
