:root {
  --primary-color: rgb(85, 79, 79);
  --background-color: rgb(48, 44, 44);
  --text-color: white;
  --border-color: rgb(255, 255, 255);
  --card-color: rgb(40, 35, 35);
}

html {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: var(--background-color);
  background-image: url("../public/Background.jpg");
}

body {
  scrollbar-gutter: stable;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  text-shadow: 1px 1px 1px black;
}
